<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.camilo.shoppingcart">


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_cart"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon,android:theme">

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".CustomerActivity"
            android:label="Browse"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".CartActivity"
            android:label="Review Cart"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".SellerActivity"
            android:label="My Inventory"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".SellerStatistics"
            android:label="My Statistics"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ProductViewFull"
        android:label="Detail View"
        android:screenOrientation="portrait">

        </activity>

        <!--<activity android:name=".SellerActivity"-->
        <!--android:label="Review Cart"-->
        <!--android:screenOrientation="portrait">-->

        <!--</activity>-->


    </application>

</manifest>
